@import "../../../../../assets/const.module.scss";
.container {
  display: block;
  width: 350px;
  height: 100%;
  border: $color_navy_blue 2px solid;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
  margin: 50px 0 50px 0;
  
}
