@import "../../../../../assets/const.module.scss";

.container {
  margin-top: 40px;
  width: 100%;
  background-color: $color_navy_blue;
  border-radius: 10px;
  padding: 10px;
  height: 100px;
  display: flex;
  grid-gap: 10px;
  box-sizing: border-box;
}
