@import "../../../../../../../assets/const.module.scss";

.container {
  display: block;
  position: relative;
  .fields {
    width: 100%;
    margin-bottom: 20px;
    &:hover + .buttons {
      display: inline;
      animation: appearance_ani 0.3s forwards;
    }
  }
  .buttons {
    display: none;
    color: $color_navy_blue;
    z-index: 10;
    .top_button {
      position: absolute;
      display: inline-block;
      top: -35px;
      left: 0;
      width: 100%;
      height: 35px;
      font-size: 26px;
      background-color: white;
      cursor: pointer;
      border: 2px solid $color_navy_blue;
      border-bottom: none;
      border-radius: 10px 10px 0px 0px;
    }
    .right_button {
      position: absolute;
      top: 0;
      right: -35px;
      width: 35px;
      height: 100%;
      font-size: 26px;
      cursor: pointer;
      background-color: white;
      border: 2px solid $color_navy_blue;
      border-left: none;
      border-radius: 0px 10px 10px 0px;
    }
    .bottom_button {
      position: absolute;
      bottom: -35px;
      left: 0;
      width: 100%;
      height: 35px;
      font-size: 26px;
      cursor: pointer;
      background-color: white;
      border: 2px solid $color_navy_blue;
      border-top: none;
      border-radius: 0px 0px 10px 10px;
    }
    .left_button {
      position: absolute;
      top: 0;
      left: -35px;
      width: 35px;
      height: 100%;
      font-size: 26px;
      cursor: pointer;
      background-color: white;
      border: 2px solid $color_navy_blue;
      border-right: none;
      border-radius: 10px 0px 0px 10px;
    }

    &:hover {
      display: inline;
      animation: appearance_ani 0.3s forwards;
    }
  }
  > button {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 100%;
    top: 0px;
    left: -35px;
    background-color: white;
    border: 2px solid $color_navy_blue;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    font-size: 20px;
  }
}

@keyframes appearance_ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
