$color_navy_blue: rgba(48, 58, 84, 1);
$color_light_grey: rgba(235, 235, 235, 1);
$color_asphalt_gray: rgb(120, 130, 135);
$color_green: rgb(36, 236, 125);
$color_graphite_gray: rgb(26, 30, 31);
$font_JetBrains: "JetBrains Mono", monospace;
$font_roboto: "Roboto", sans-serif;
