@import "const.module.scss";

@mixin get-text($size, $weight: 400, $font: $font_roboto, $color: #ffffff) {
  font-family: $font !important;
  font-size: $size !important;
  font-weight: $weight !important;
  color: $color !important;
}
