@import "../../../../../../../../../assets/const.module.scss";

.empty_field {
  width: 100%;
  background-color: $color_navy_blue;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 26px;
  fill: white;
  box-sizing: border-box;
  cursor: pointer;
}
