@import "../../../../../../assets/const.module.scss";

.body_screen {
  position: relative;
  height: calc(100% - 24px);
  .stub_resize {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
  }
  .novnc_canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .loading_container {
    z-index: 10;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .screen_placeholder {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $font_roboto;
    color: white;
    > h1 {
      margin: 0;
      font-size: 22px;
    }
    > button {
      margin-top: 40px;
      font-size: 18px;
      background-color: $color_navy_blue;
      border-radius: 5px;
      padding: 10px 5px;
    }
  }
}
