@import "../../../../assets/mixins.module.scss";
@import "../../../../assets/const.module.scss";

.default {
  width: 100%;
  height: 2.5rem;
  text-transform: uppercase;
  background-color: white;
  border-radius: 3px;
  white-space: pre-line;
  @include get-text(14px, 600, $font_JetBrains, "black");
  -webkit-box-shadow: -5px -5px 19px 0px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: -5px -5px 19px 0px rgba(34, 60, 80, 0.6) inset;
  box-shadow: 0px 3px rgb(212, 211, 211), 2px 3px rgb(212, 211, 211),
    2px 1px rgb(212, 211, 211);
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  box-shadow: 0px 3px rgb(100, 155, 75), 2px 3px rgb(100, 155, 75),
    2px 1px rgb(100, 155, 75);
  -moz-box-shadow: 0px 3px rgb(100, 155, 75), 2px 3px rgb(100, 155, 75),
    2px 1px rgb(100, 155, 75);
  -webkit-box-shadow: 0px 3px rgb(100, 155, 75), 2px 3px rgb(100, 155, 75),
    2px 1px rgb(100, 155, 75);
  background-color: $color_green;
}

.gray {
  background-color: $color_asphalt_gray;
  box-shadow: 0px 3px rgb(112, 112, 112), 2px 3px rgb(112, 112, 112),
    2px 1px rgb(112, 112, 112);
  -moz-box-shadow: 0px 3px rgb(112, 112, 112), 2px 3px rgb(112, 112, 112),
    2px 1px rgb(112, 112, 112);
  -webkit-box-shadow: 0px 3px rgb(112, 112, 112), 2px 3px rgb(112, 112, 112),
    2px 1px rgb(112, 112, 112);
  color: white;
}
