@import "../../../assets/mixins.module.scss";
.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  fill: white;
  margin-bottom: 10px;
  &:last-child{
    margin-bottom: 0px;
  }
  > span {
    margin-left: 10px;
    @include get-text(16px, 500);
  }
}
