@import "../../../assets/const.module.scss";
@import "../../../assets/mixins.module.scss";

.tooltip {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: $color_navy_blue;
  border-radius: 2px;
  padding: 4px 5px;
  border: 1px solid #b5b5b5;
  box-shadow: 0 0 6px rgba(161, 169, 182, 0.6);
  @include get-text(12px, 400, $font_roboto);
  white-space: pre-wrap;
  z-index: 10000;
  max-width: 300px;
}
