.screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  .menu {
    position: absolute;
    top: 16px;
    left: 16px;
  }
  .buttons {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 16px;
  }
  .taskbar {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 15px;
  }
}
