.modal {
  height: 100%;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s linear;
  z-index: 10;
  .body {
    box-sizing: border-box;
  }
}
.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}
