@import "../../../assets/const.module.scss";
@import "../../../assets/mixins.module.scss";

.wrapper {
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 1000;
  width: 400px;
  box-sizing: border-box;
  .notify {
    border-radius: 5px;
    display: block;
    background-color: $color_navy_blue;
    box-sizing: border-box;
    .title {
      display: flex;
      align-items: center;
      padding: 5px 15px;
      .titleText {
        @include get-text(18px, 300, $font_firaCode);
      }
    }
    .text {
      padding: 10px 15px;
      white-space: pre-wrap;
      @include get-text(16px, 400, $font_roboto);
    }
  }
}
